@keyframes pulse {
  from {
    background-color: red;
  }
  to {
    background-color: purple;
  }
}

.box {
  animation: pulse infinite 5s;
  background-color: red;
  height: 400px;
  width: 500px;
}
