@keyframes pulse {
  0% {
    background-color: red;
    height: 400px;
    width: 400px;
  }
  50% {
    background-color: purple;
    height: 100px;
    width: 100px;
  }
}

.box {
  animation: pulse infinite 3s ease-in-out;
  background-color: red;
  border-radius: 50%;
  height: 400px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
